<div class="row content-justify-end footer">
  <div class="col-lg-4">
    <div class="d-inline">
      <p>&copy 2018 Your Games, inc. All Rights Reserved</p>
    </div>
  </div>
  <div class="col-lg-6 offset-lg-2 mb-2">
    <div class="d-inline">
      <a href="#"><span>Privacy Policy </span></a>|
      <a href="#"><span>Terms of Services </span></a>|
      <a href="#"><span>Code of Conduct</span></a>
    </div>
  </div>
</div>