body, html {
	scroll-behavior: smooth;
	text-decoration: none !important;
	font-family: "Open Sans", sans-serif;
	background-color: #9c835f;
}

/* Header */
.customHeader div .d-inline-block {
	line-height: 2;
}

.customHeader a .headerTitle{
	font-size: 16px;
	font-weight: bold;
	color: #ffc107;
}

.bgColor {
	position: absolute;
	z-index: -1;
	top: 0;
}

.historyContent {
  position: relative;
	top: 100px;
	text-align: center !important;
}

.historyContent table td {
	padding: 0;
}

.historyContent table button {
	background-color: transparent !important;
	border: 0;
}

/* Smaller Device version */
@media (min-width: 576px) and (max-width: 768px) {
	.customHeader a .headerTitle {
			font-size: 24px;
  }
}

/* Tablet device version */
@media (min-width: 768px) and (max-width: 992px) {
	.customHeader a .headerTitle {
			font-size: 30px;
  }
}

/* Desktop version */
@media (min-width: 992px) {
	.customHeader a .headerTitle {
			font-size: 30px;
	}

	.bgColor {
			height: 100%;
  }
}