/* Default mobile phone version (width <576px) */
/* Global Style */
body,
html {
  color: white;
  scroll-behavior: smooth;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

/* Navbar */
.customnavbar {
  font-family: "Bebas Neue", cursive;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #ffc107;
  position: fixed !important;
  z-index: 1;
}

.customnavbar .navbar-light .navbar-toggler-icon {
  background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"%3e%3cpath stroke="rgba%28255, 255, 255, 0.5%29" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e');
}

.customnavbar .navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.customnavbar .nav-link {
  margin: 0px 1vw 0px 1vw;
}

.customnavbar a {
  color: white !important;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  /* Hover off transition */
}

.customnavbar a:hover {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  color: #ffc107 !important;
}

/* Jumbotron */
.jumbotron {
  /* Multiple background with no-repeat */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;
  text-align: center;
  margin-bottom: auto;
}

/* Play Now content */
.playnow {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), to(black)), url(assets/main-bg.jpg);
  background-image: linear-gradient(to bottom, transparent 70%, black 100%), url(assets/main-bg.jpg);
}

.playnow .container h1 {
  margin-top: 25vh;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.playnow .container h2 {
  font-size: 16px;
  letter-spacing: 2px;
}

.playnow .container a {
  margin-top: 4vh;
  padding: 10px 50px 10px 50px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 5px;
}

.playnow .to-gameoption {
  position: absolute;
  bottom: 5vh;
  padding: 0px;
}

.playnow .to-gameoption h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

.playnow .to-gameoption .icon {
  width: 50px;
  margin: auto;
}

.playnow .to-gameoption .icon path {
  fill: transparent;
  stroke-width: 0.5;
  stroke: white;
}

.playnow .to-gameoption .icon.caretdown path {
  stroke-dasharray: 40;
  stroke-dashoffset: 0;
}

.playnow .to-gameoption .icon.caretdown path:hover {
  -webkit-animation: caretdown 1s linear forwards;
          animation: caretdown 1s linear forwards;
}

@-webkit-keyframes caretdown {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 40;
  }
  100% {
    stroke-dashoffset: 80;
    stroke: #ffc107;
    fill: transparent;
  }
}

@keyframes caretdown {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 40;
  }
  100% {
    stroke-dashoffset: 80;
    stroke: #ffc107;
    fill: transparent;
  }
}

/* Game Option content */
.gameoption {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(10%, transparent), color-stop(90%, transparent), to(black)), url(assets/the-games-bg.jpg);
  background-image: linear-gradient(black 0%, transparent 10%, transparent 90%, black 100%), url(assets/the-games-bg.jpg);
}

.gameoption .container {
  text-align: left;
}

.gameoption h3 {
  font-size: 16px;
  letter-spacing: 2px;
}

.gameoption h1 {
  font-size: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.gameoption .carousel .carousel-inner img {
  margin: auto;
}

.gameoption .carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  margin: 0px 15px -15px;
  background-color: transparent;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 0px 1px white;
          box-shadow: inset 0px 0px 0px 1px white;
}

.gameoption .carousel .carousel-indicators .active {
  background-color: white !important;
}

.gameoption .carousel .carousel-control-prev,
.gameoption .carousel .carousel-control-next {
  opacity: 1;
}

.gameoption .carousel .carousel-control-prev-icon {
  background-image: url('data:image/svg+xml, <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-left" fill="white" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M10 12.796L4.519 8 10 3.204v9.592zm-.659.753l-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"/> </svg>');
}

.gameoption .carousel .carousel-control-next-icon {
  background-image: url('data:image/svg+xml, <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-caret-right" fill="white" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M6 12.796L11.481 8 6 3.204v9.592zm.659.753l5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"/> </svg>');
}

/* Features content */
.features {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(50%, transparent), to(black)), url(assets/features.jpg);
  background-image: linear-gradient(black 0%, transparent 50%, black 100%), url(assets/features.jpg);
  background-position: left;
}

.features .col-md-6 {
  text-align: left;
  margin-top: 30vh;
}

.features h3 {
  font-size: 12px;
}

.features h1 {
  font-size: 32px;
  text-transform: uppercase;
}

.features h2 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffc107;
}

.features p {
  font-size: 16px;
}

.features .step {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.features .step .v-stepper {
  position: relative;
}

.features .step .circle {
  background-color: white;
  border: 3px solid grey;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-top: 0px;
}

.features .step .line {
  top: 20px;
  left: 8px;
  height: 100%;
  position: absolute;
  border-left: 3px solid white;
}

.features .step:last-child .line {
  border-left: 3px solid white;
  z-index: -1;
  /* behind the circle to completely hide */
}

.features .step .content {
  margin-left: 20px;
  display: inline-block;
}

.features .step.completed .circle {
  visibility: visible;
  background-color: white;
  border-color: white;
}

.features .step.completed .line {
  border-left: 3px solid white;
}

.features .step.active .circle {
  visibility: visible;
  border-color: white;
  background-color: transparent;
}

.features .step.empty .circle {
  visibility: hidden;
  /* Hidden */
}

.features .step.empty .line {
  top: 0;
  /* Hidden */
  height: 150%;
}

/* System Requirements content */
.sysreq {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(50%, transparent), to(black)), url(assets/requirements.png);
  background-image: linear-gradient(black 0%, transparent 50%, black 100%), url(assets/requirements.png);
  padding: 10vh 0px;
}

.sysreq h5 {
  font-size: 12px;
}

.sysreq table {
  border: 1px solid grey;
}

.sysreq h1 {
  font-size: 24px;
  text-align: left;
  text-transform: uppercase;
  padding-bottom: 5vh;
}

.sysreq h2 {
  color: #ffc107;
  font-size: 18px;
  text-align: left;
  text-transform: uppercase;
}

.sysreq p {
  color: white;
  font-size: 16px;
  text-align: left;
}

/* Top Scores content */
.topscores {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(50%, rgba(0, 0, 0, 0.8)), to(black)), url(assets/top-score-bg.png);
  background-image: linear-gradient(black 0%, rgba(0, 0, 0, 0.8) 50%, black 100%), url(assets/top-score-bg.png);
}

.topscores .topscoresleft {
  margin-bottom: 2vh;
}

.topscores .topscoresleft h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
}

.topscores .topscoresleft h2 {
  font-size: 16px;
}

.topscores .topscoresleft a {
  margin-top: 5vh;
  font-weight: bold;
  padding: 10px 50px;
}

.topscores .twittercards .card {
  border: none;
}

.topscores .twittercards .card-header {
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: none;
  text-align: left;
  position: relative;
  padding-bottom: 0;
}

.topscores .twittercards .card-header .profilepic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 2px #ffc107;
          box-shadow: 5px 2px #ffc107;
}

.topscores .twittercards .card-header h3 {
  font-size: 12px;
  color: #ffc107;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 50px;
  margin-bottom: 0;
  margin-top: 3px;
}

.topscores .twittercards .card-header h4 {
  font-size: 10px;
  color: grey;
  margin-left: 50px;
  margin-bottom: 0;
}

.topscores .twittercards .card-header .twitterlogo {
  position: absolute;
  right: 16px;
  top: 16px;
}

.topscores .twittercards .card-body {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
}

.topscores .twittercards h5 {
  font-size: 12px;
}

.topscores .twittercards p {
  font-size: 10px;
  color: grey;
}

/* Newsletter content */
.newsletter {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), color-stop(10%, transparent), color-stop(90%, transparent), to(black)), url(assets/newsletter-bg.jpg);
  background-image: linear-gradient(black 0%, transparent 10%, transparent 90%, black 100%), url(assets/newsletter-bg.jpg);
  text-align: left;
  /* Newsletter Form */
}

.newsletter h3 {
  font-size: 16px;
  margin-top: 10vh;
}

.newsletter h1 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.newsletter p {
  font-size: 12px;
  text-align: justify;
}

.newsletter form {
  position: relative;
}

.newsletter form input[type="text"] {
  border: 1px solid grey;
  font-size: 20px;
  color: #ffc107;
}

.newsletter form p {
  color: grey;
  position: absolute;
  /* Relative to form */
  font-size: 10px;
  left: 16px;
  top: 1px;
}

.newsletter form button {
  padding: 9px;
  font-weight: bold;
}

::-webkit-input-placeholder {
  color: #ffc107 !important;
}

:-ms-input-placeholder {
  color: #ffc107 !important;
}

::-ms-input-placeholder {
  color: #ffc107 !important;
}

::placeholder {
  color: #ffc107 !important;
}

/* Navigation */
.navigation {
  background-color: black;
  height: 40vh;
  padding: 0;
  /* Footer */
}

.navigation a {
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
  color: white;
  font-size: 14px;
  margin: 0 2vw;
  word-break: keep-all;
}

.navigation a span {
  white-space: nowrap;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.navigation a span:hover {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  color: #ffc107 !important;
}

.navigation .socialmedialogo {
  width: 100% !important;
}

.navigation .socialmedialogo .icon path {
  fill: white;
  stroke-width: 0.5;
  stroke: white;
}

.navigation .socialmedialogo .icon.facebook path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.navigation .socialmedialogo .icon.facebook path:hover {
  -webkit-animation: facebookicon 1s linear forwards;
          animation: facebookicon 1s linear forwards;
}

@-webkit-keyframes facebookicon {
  0% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 60;
    stroke: #ffc107;
    fill: #ffc107;
  }
}

@keyframes facebookicon {
  0% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 60;
    stroke: #ffc107;
    fill: #ffc107;
  }
}

.navigation .socialmedialogo .icon.twitter path {
  stroke-dasharray: 74;
  stroke-dashoffset: 0;
}

.navigation .socialmedialogo .icon.twitter path:hover {
  -webkit-animation: twittericon 1s linear forwards;
          animation: twittericon 1s linear forwards;
}

@-webkit-keyframes twittericon {
  0% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 74;
    stroke: #ffc107;
    fill: #ffc107;
  }
}

@keyframes twittericon {
  0% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 74;
    stroke: #ffc107;
    fill: #ffc107;
  }
}

.navigation .socialmedialogo .icon.youtube path {
  fill: #FF1313;
  stroke: #FF1313;
  stroke-dasharray: 77;
  stroke-dashoffset: 0;
}

.navigation .socialmedialogo .icon.youtube path:hover {
  -webkit-animation: youtubeicon 1s linear forwards;
          animation: youtubeicon 1s linear forwards;
}

@-webkit-keyframes youtubeicon {
  0% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 77;
    stroke: #ffc107;
    fill: #ffc107;
  }
}

@keyframes youtubeicon {
  0% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 77;
    stroke: #ffc107;
    fill: #ffc107;
  }
}

.navigation .socialmedialogo .icon.twitch path {
  stroke-dasharray: 70;
  stroke-dashoffset: 0;
}

.navigation .socialmedialogo .icon.twitch path:hover {
  -webkit-animation: twitchicon 1s linear forwards;
          animation: twitchicon 1s linear forwards;
}

@-webkit-keyframes twitchicon {
  0% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 70;
    stroke: #ffc107;
    fill: #ffc107;
  }
}

@keyframes twitchicon {
  0% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 70;
    stroke: #ffc107;
    fill: #ffc107;
  }
}

.navigation hr {
  border-top: 1px solid grey;
}

.navigation .footer p {
  font-size: 14px;
  color: grey;
}

.navigation .footer .col-lg-6 {
  text-align: center;
}

.navigation .footer a {
  margin: 0;
}
/*# sourceMappingURL=mobile_style.css.map */